<div id="pico_cad_test_options_dialog" >


    <script>
        function openSettings(open) {
            const d = document.getElementById('ApgCadTestOptionsDialog');
            if (open) {
                d.showModal()
            }
            else {
                d.close()
            }
            // alert(open)
        }

        function updateLink() {

            const currUrlFragments = window.location.href.split("?");

            const blackInput = document.getElementById('BlackFlag');
            const blackFlag = "black=" + blackInput.checked.toString();

            const debugInput = document.getElementById('DebugFlag');
            const debugFlag = "&debug=" + debugInput.checked.toString();

            const manualInput = document.getElementById('ManualFlag');
            const randomFlag = "&random=" + (!(manualInput.checked)).toString();

            const gridModeSelect = document.getElementById('GridMode');
            const gridFlag = "&grid=" + gridModeSelect.value;

            const cartesianModeSelect = document.getElementById('CartesianMode');
            const cartesianFlag = "&cart=" + cartesianModeSelect.value;

            const root = currUrlFragments[0];

            const r = root + "?" + blackFlag + randomFlag + debugFlag + gridFlag + cartesianFlag;

            //alert(r)
            return r;
        }

        function updatePage() {
            const newUrl = updateLink();
            const d = document.getElementById('ApgCadTestSettingsDialog');
            d.close();
            window.location.href = newUrl;
        }

    </script>

    <button onclick='openSettings(true)'>Settings</button>

    <dialog id="ApgCadTestOptionsDialog">
        <div style="background-color: aliceblue; padding: 1rem;">
            <H2>Cad test settings</H2>

            <label for="BlackFlag">
                <input type="checkbox" id="BlackFlag" [: params.blackBack ? "checked" : "" :]>
                Use black background
            </label>
            <label for="DebugFlag">
                <input type="checkbox" id="DebugFlag" [: params.debug ? "checked" : "" :]>
                Show debug info (if available)
            </label>
            <label for="ManualFlag">
                <input type="checkbox" id="ManualFlag" [: r.push(params.random==true ? ""
                       : "checked" ) :]>
                Manual test (if available)
            </label>
            <label for="GridMode">
                Grid mode
                <select id="GridMode">
                    <option value="None" [: r.push(params.gridMode=="None" ? "selected" : "" ) :]>
                        None
                    </option>
                    <option value="Lines" [: r.push(params.gridMode=="Lines" ? "selected" : "" ) :]>
                        Lines
                    </option>
                    <option value="Dots" [: r.push(params.gridMode=="Dots" ? "selected" : "" ) :]>
                        Dots
                    </option>
                </select>
            </label>
            <label for="CartesianMode">
                Cartesian axises
                <select id="CartesianMode">
                    <option value="None" [: r.push(params.cartesianMode=="None" ? "selected" : "" )
                            :]>
                        None
                    </option>
                    <option value="Normal" [: r.push(params.cartesianMode=="Normal" ? "selected" : "" ) :]>
                        Standard
                    </option>
                </select>
            </label>

            <button onclick='updatePage()'>Update</button>
            <button onclick='openSettings(false)'>Cancel</button>
        </div>
    </dialog>

</div>