<pre hidden>
  [: arguments({
    "#0": "IApgCiiInstruction[]"
  }) :]
</pre>

<div id="pico_cii_instructions">

    <details>
        <summary>
            <h3>Instructions</h3>
        </summary>
        <p style="font-family: 'Lucida console', monospace; text-align: left;">
        <pre><code>
        [: for (const instruction of [#0]) { 
            const json = JSON.stringify(instruction).replaceAll(",", ", "); 
            const brJson = json + "<br>\n";
            r.push(brJson);
        } :]
        </code></pre>
        </p>
    </details>

</div>