<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>

<div id="inline-svg"
     style="background-color: #cacaca; width: 100%; display:flex; justify-content: center;">
  [: svgContent :]
</div>

<script>

  var svgPanZoomInstance = null;

  const svgPanZoomSettings = {
    panEnabled: true,
    controlIconsEnabled: false,
    zoomEnabled: true,
    dblClickZoomEnabled: true,
    mouseWheelZoomEnabled: false,
    preventMouseEventsDefault: true,
    zoomScaleSensitivity: 0.25,
    minZoom: 0.1,
    maxZoom: 20,
    fit: true,
    contain: true,
    center: true,
    refreshRate: 'auto'
  }

  function initPanZoom(asvg, asettings) {
    svgPanZoomInstance = svgPanZoom(asvg, asettings)
  }

  const svg = document.getElementById('APG_SVG_DOC');

  svg.addEventListener('load', initPanZoom(svg, svgPanZoomSettings))

</script>