<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>

<div id="inline-svg"
         style="background-color: #888888; width: 90vw; display:flex; justify-content: center;">
  [: svgContent :]
</div>

<script>
  document.getElementById('APG_SVG_DOC').addEventListener('load', function () {
    // Will get called after embed element was loaded
    svgPanZoom(
      document.getElementById('APG_SVG_DOC'),
      {
        panEnabled: true,
        controlIconsEnabled: true,
        zoomEnabled: true,
        dblClickZoomEnabled: true,
        mouseWheelZoomEnabled: false,
        preventMouseEventsDefault: true,
        zoomScaleSensitivity: 0.25,
        minZoom: 0.1,
        maxZoom: 20,
        fit: true,
        contain: true,
        center: true,
        refreshRate: 'auto'
      }
    );
  })
</script>