<script
        src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>

<embed type="image/svg+xml"
       src="[: svgFile :]"
       id="embedded-svg"
       width="800"
       height="450"
       style="background-color: #000000; margin-left: auto; margin-right: auto; display:block" />

<script>
  document.getElementById('embedded-svg').addEventListener('load', function () {
    // Will get called after embed element was loaded
    svgPanZoom(
      document.getElementById('embedded-svg'),
      {
        panEnabled: true,
        controlIconsEnabled: true,
        zoomEnabled: true,
        dblClickZoomEnabled: true,
        mouseWheelZoomEnabled: false,
        preventMouseEventsDefault: true,
        zoomScaleSensitivity: 0.2,
        minZoom: 0.5,
        maxZoom: 10,
        fit: true,
        contain: false,
        center: true,
        refreshRate: 'auto'
      }
    );
  })
</script>