[: extends("/master/pico.html") :]

<section>
    [: if(testLogger.hasErrors){ :]
    [: partial("/partials/pico_logger.html") :]
    <p>
        <code>
            [: JSON.stringify(testLogger,undefined, '  ').replaceAll('\n','<br>').replaceAll(' ', '&nbsp;') :]
        </code>
    </p>
    [: } else { :]
    [: partial("/partials/svg_pan_zoom_inline_viewer.html") :]
    [: } :]
</section>

<script>

    const GUI_MENU_ID = 'GUI_MENU';
    const LAYER_BOARD_ID = 'LAYER_BOARD';
    let currentBoard = "";

    function SwitchVisibility(aactivator, atarget) {

        var show = aactivator.getAttribute('show');
        if (show == "true") {
            aactivator.setAttribute('fill', 'white');
            aactivator.setAttribute('show', 'false');
            atarget.style.display = "none";
        }
        else {
            aactivator.setAttribute('fill', 'green');
            aactivator.setAttribute('show', 'true');
            atarget.style.display = "block";
        }
    }

    function GuiButtonOnClick(event) {

        const button = event.target;

        const board = (currentBoard == "") ?
            document.getElementById(GUI_MENU_ID) :
            document.getElementById(currentBoard);

        SwitchVisibility(button, board);

    }

    function LayerBoardMenuOnClick(event) {

        const button = event.target;
        const guiMenu = document.getElementById(GUI_MENU_ID);
        guiMenu.style.display = "none";
        const layerBoard = document.getElementById(LAYER_BOARD_ID);
        layerBoard.style.display = "block";
        currentBoard = LAYER_BOARD_ID;
    }

    function LayerBoardButtonOnClick(event) {
        const button = event.target;
        const buttonID = button.getAttribute('id');
        const layer = buttonID.split("_")[2];

        const layerGroup = document.getElementById(layer)

        SwitchVisibility(button, layerGroup);

        // var show = event.target.getAttribute('show');
        // if (show == "true") {
        //     event.target.setAttribute('show', 'false');
        //     layerGroup.style.display = "none";
        //     event.target.setAttribute('fill', 'white');
        // }
        // else {
        //     event.target.setAttribute('show', 'true');
        //     layerGroup.style.display = "block";
        //     event.target.setAttribute('fill', 'green');
        // }

        // alert('layer:' + layer + ' show:' + show + " layerGroup:" + layerGroup);
    }


</script>